.beeds {
    width: 2em;
    height: 2em;
    display: inline-table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 85%;
}

.dice {
    height: 2rem;
    width: 2rem;
    margin-left: 48.9%;
    margin-right: 46%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.txtPlayer{
    margin: auto;
    display: block;
    justify-content: center;
}